footer {
  position: relative;
  top: -100px;
  width: 100vw;
  margin-top: 24px;
  text-align: center;
  span {
    @include googleFont($first-font, 14px, 400);
    color: $primary-color;
    text-align: center;
    line-height: 22px;
    margin: 0 46px;
  }
  .social-media-icons {
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
    a {
      color: #000;
    }
  }
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span {
      font-size: 1rem;
      text-align: left;
      padding-left: 7vw;
    }
    .social-media-icons {
      width: 40vw;
      margin-top: unset;
      padding-top: 5px;
      padding-right: 8vw;
      i {
        width: 18px;
        height: 28px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  footer {
    line-height: 28px;
    margin-top: 36px;
    margin-bottom: 31px;
  }
}
