header {
  width: 100vw;
  height: 44px;
  nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .logo {
    width: 24px;
    height: 24px;
    margin: 10px 16px;
  }
  #check {
    opacity: 0;
    &:checked ~ .menu-container {
      display: block;
    }
    &:checked ~ label :nth-child(3) {
      display: none;
    }
    &:checked ~ label :nth-child(1) {
      transform: rotate(40deg) translate(3px, 1px);
    }
    &:checked ~ label :nth-child(2) {
      transform: rotate(-40deg) translate(3px, -1px);
    }
  }
  label {
    display: flex;
    flex-direction: column;
    margin: 16px 19px;
    .menu-line {
      background: $primary-color;
      width: 18px;
      height: 2px;
      margin-bottom: 3px;
    }
  }
  .menu-container {
    width: 100vw;
    display: none;
    position: relative;
    z-index: 1;
    .menu-box {
      font-size: 1rem;
      background: $third-color;
      list-style: none;
      padding-top: 24px;
      &:nth-last-child(1) {
        padding-bottom: 24px;
      }
      a {
        text-decoration: none;
        font-family: $first-font;
        color: #fff;
        padding-left: 16px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
    nav {
      flex-wrap: nowrap;
      label {
        display: none;
      }
    }
    .logo {
      width: 36px;
      height: 36px;
      margin: 22px 40px;
    }
    #check {
      opacity: 0;
      &:checked ~ .menu-container {
        @include check-behaviour;
      }
    }
    .menu-container {
      @include check-behaviour;
      .menu-box {
        background: unset;
        padding: unset;
        a {
          color: $primary-color;
          font-size: 1rem;
          line-height: 28px;
          font-family: $first-font;
          padding: unset;
          &:hover {
            text-decoration: line-through;
            color: $second-color;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  header {
    nav {
      .menu-container {
        justify-content: space-evenly;
      }
    }
  }
}
