main {
  margin-top: 29px;
  .introduction {
    margin: 0 16px;
    h1 {
      @include googleFont($second-font, 36px, 400);
      color: $primary-color;
      line-height: 42px;
      #line {
        text-decoration: line-through;
      }
    }
    .brief-introduction {
      margin-top: 16px;
      line-height: 22px;
      @include googleFont($first-font, 14px, 400);
      color: $primary-color;
      #shifter-text {
        &::after {
          content: $mobile-text;
        }
      }
    }
    .more {
      @include buttonStyle($first-font, 1rem, 500);
    }
  }
  .episode-container {
    margin-top: 24px;
    .episode {
      display: flex;
      flex-direction: column;
      clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
      @include gradient-clip;
      width: 100vw;
      padding-bottom: 150px;
      .section-title {
        color: #fff;
        @include googleFont($second-font, 36px, 400);
        margin-top: 64px;
        line-height: 42px;
        padding-left: 16px;
      }
      .spotify {
        margin: 21px 11px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        iframe {
          margin-bottom: 11px;
          margin-left: 11px;
          border: 0;
          width: 298px;
          height: 232px; //with specification height 225px is not working;
        }
      }
    }
  }
}
.phone-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -100px;
  #phone {
    width: 360px;
    height: 519px;
  }
}
.article-read {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 27px 16px 0;
  h2 {
    color: $primary-color;
    line-height: 42px;
    @include googleFont($second-font, 36px, 400);
    width: 288px;
  }
  p {
    @include googleFont($first-font, 14px, 400);
    line-height: 22px;
    margin: 8px 0 14px;
    width: 288px;
    color: $primary-color;
  }
}
.characters {
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
  h2 {
    margin: 0 16px;
    width: 288px;
    height: 84px;
    line-height: 42px;
    color: $primary-color;
    margin-bottom: 14px;
    @include googleFont($second-font, 36px, 400);
  }
  .characters-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
      display: block;
      width: 100vw;
      height: 42.28vh;
    }
  }
}
.topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -100px;
  margin-top: 48px;
  h2 {
    line-height: 42px;
    color: $primary-color;
    margin: 0 16px;
    text-align: left;
    width: 288px;
    @include googleFont($second-font, 36px, 400);
  }
  .container-image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & .group-image:nth-child(1) {
      margin-top: 24px;
      height: 162px;
    }
    & .group-image:nth-child(2) {
      margin-top: 36px;
      height: 194px;
    }
    & .group-image:nth-child(3),
    .group-image:nth-child(4) {
      height: 162px;
      margin-top: 52px;
    }
    .group-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 104px;
        height: 104px;
      }
      h3 {
        line-height: 32px;
        padding: 13px 16px 0;
        color: $primary-color;
        text-align: center;
        width: 288px;
        @include googleFont($second-font, 24px, 600);
      }
    }
  }
}
.lastest-news {
  position: relative;
  margin-top: 42px;
  top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  @include gradient-clip;
  height: 340px;
  .question-news {
    margin-top: 64px;
    @include googleFont($second-font, 36px, 400);
    line-height: 42px;
    color: #fff;
    width: 288px;
    height: 126px;
    text-align: center;
  }
  .listen-episodes {
    @include buttonStyle($first-font, 1rem, 500);
    margin: 36px 16px;
  }
}

@media screen and (min-width: 550px) {
  main {
    .topics {
      .container-image {
        & .group-image:nth-child(1) {
          margin-top: 24px;
          height: 162px;
        }
        & .group-image:nth-child(2) {
          margin-top: 24px;
          height: 194px;
        }
        & .group-image:nth-child(3),
        .group-image:nth-child(4) {
          margin-top: 24px;
          height: 162px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 35px;
    .introduction {
      padding-left: 80px;
      .main-title {
        display: flex;
        #second-title {
          padding-left: 10px;
        }
      }
      #dot {
        color: $third-color;
      }
      .brief-introduction {
        width: 70vw;
        #shifter-text {
          &::after {
            content: $desktop-text;
          }
        }
      }
      .more {
        width: 226px;
        height: 56px;
      }
    }
    .episode-container {
      margin-top: 30px;
      .episode {
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
        .section-title {
          padding-left: 80px;
          padding-top: 80px;
        }
        .spotify {
          justify-content: space-evenly;
          iframe {
            margin-left: unset;
            margin-bottom: 40px;
          }
        }
      }
    }
    .phone-history {
      flex-direction: row;
      justify-content: center;
      top: -120px;
    }
    .article-read {
      top: 10px;
      padding-top: 30px;
    }
    .characters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & img:nth-child(2) {
        margin: 0;
      }
      h2 {
        padding-left: 50px;
        width: 100vw;
      }
      .characters-image {
        width: 100vw;
        img {
          width: 384px;
          height: 307px;
        }
      }
    }
    .topics {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 25px;
      .container-image {
        margin-top: 30px;
        & .container-image:nth-child(2),
        .container-image:nth-child(3),
        .container-image:nth-child(4),
        .container-image:nth-child(5) {
          margin-top: 0;
        }
      }
      h2 {
        width: 100vh;
        padding-left: 35px;
      }
    }
    .lastest-news {
      clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
      .question-news {
        width: 100vw;
        padding-top: 75px;
      }
      .listen-episodes {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (min-width: 945px) {
  main {
    .introduction {
      .brief-introduction {
        width: 65vw;
        font-size: 1rem;
      }
      .more {
        font-size: 18px;
      }
    }
    .episode-container {
      .episode {
        .spotify {
          iframe {
            width: 45vw;
          }
        }
      }
    }
    .characters {
      .characters-image {
        img {
          width: 33.33vw;
          height: 40vh;
        }
      }
    }
    .topics {
      .container-image {
        width: 100vw;
        flex-direction: row;
        justify-content: center;
        .group-image {
          width: 23vw;
          h3 {
            width: 250px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  main {
    .introduction {
      padding-left: 200px;
      .brief-introduction {
        width: 42vw;
      }
      h1 {
        font-size: 64px;
        line-height: 84px;
      }
      .brief-introduction {
        font-size: 16px;
        line-height: 24px;
      }
      .more {
        width: 226px;
        height: 56px;
      }
    }
    .episode-container {
      .episode {
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
        padding-bottom: 140px;
        .section-title {
          padding-left: 200px;
          padding-top: 140px;
          font-size: 48px;
          line-height: 62px;
        }
        .spotify {
          justify-content: space-evenly;
          iframe {
            width: 38.05vw;
            margin-bottom: 72px;
          }
        }
      }
    }
    .phone-history {
      top: -150px;
      #phone {
        width: 457.6px;
        height: 660px;
      }
      .article-read {
        margin-top: 20.4px;
        width: 464px;
        height: 266px;
        position: relative;
        top: -45px;
        margin-left: 100px;
        text-align: left;
        h2 {
          font-size: 48px;
          width: 399px;
          height: 62px;
          width: 470px;
        }
        p {
          font-size: 16px;
          line-height: 24px;
          width: 464px;
          margin-top: 24px;
        }
      }
    }
    .characters {
      h2 {
        font-size: 48px;
        line-height: 62px;
        padding-left: 200px;
      }
      .characters-image {
        img {
          width: 480px;
          height: 364px;
        }
      }
    }
    .topics {
      h2 {
        padding-left: 200px;
        width: 100vw;
        font-size: 48px;
        line-height: 62px;
        margin-top: 64px;
      }
      .container-image {
        .group-image {
          width: 260px;
        }
      }
    }
    .lastest-news {
      clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
      height: 400px;
      .question-news {
        width: 692px;
        font-size: 48px;
        line-height: 62px;
      }
      .listen-episodes {
        height: 56px;
        font-size: 18px;
        line-height: 24px;
        margin-top: 36px;
      }
    }
  }
}
