main {
  margin-top: 29px;
  h1 {
    font-family: $second-font;
    color: $primary-color;
    line-height: 42px;
    font-size: 36px;
    span {
      text-decoration: line-through;
    }
  }
  .introduction {
    margin: 0 16px;
    .brief-introduction {
      margin-top: 16px;
      line-height: 22px;
      font-family: $first-font;
      color: $primary-color;
      font-size: 14px;
    }
    .more {
      @include buttonStyle;
    }
  }
  .episode-container {
    margin-top: 24px;
    .episode {
      display: flex;
      flex-direction: column;
      clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
      @include gradient-clip;
      height: 1203.5px;
      .section-title {
        color: #fff;
        font-family: $second-font;
        font-size: 36px;
        margin-top: 64px;
        line-height: 42px;
        padding-left: 16px;
      }
      .spotify {
        margin: 21px 11px 0;
        iframe {
          border: 0;
          width: 298px;
          height: 232px; //with specification height 225px is not working;
        }
      }
    }
  }
  .phone-history {
    display: flex;
    align-items: center;
    position: relative;
    top: -100px;
    #phone {
      width: 360px;
      height: 519px;
    }
  }
  .article-read {
    position: relative;
    top: -100px;
    margin: 27px 16px 0;
    width: 288px;
    height: 338;
    h1 {
      color: $primary-color;
      font-size: 36px;
      line-height: 42px;
      font-family: $second-font;
    }
    p {
      font-size: 14px;
      font-family: $first-font;
      line-height: 22px;
      margin: 8px 0 14px;
    }
  }
  .characters {
    position: relative;
    top: -100px;
    margin-top: 54px;
    & img:nth-child(2) {
      margin-top: 14px;
    }
    h1 {
      margin: 0 16px;
      width: 288px;
      height: 84px;
      font-size: 36px;
      line-height: 42px;
      font-family: $second-font;
      color: $primary-color;
    }
    .characters-image {
      display: block;
      width: 320px;
      height: 243px;
    }
  }
  .topics {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: -100px;
    margin-top: 48px;
    & .container-image:nth-child(2) {
      margin-top: 24px;
    }
    & .container-image:nth-child(3) {
      margin-top: 36px;
    }
    & .container-image:nth-child(4),
    .container-image:nth-child(5) {
      margin-top: 52px;
    }
    h1 {
      font-size: 36px;
      line-height: 42px;
      font-family: $second-font;
      color: $primary-color;
      margin: 0 16px;
      text-align: left;
    }
    .container-image {
      width: 320px;
      height: 162px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        padding: 13px 0;
        width: 104px;
        height: 104px;
      }
    }
    h2 {
      font-size: 24px;
      line-height: 32px;
      margin: 0 16px;
      color: $primary-color;
      font-family: $second-font;
      font-weight: bold;
    }
  }
  .lastest-news {
    position: relative;
    margin-top: 42px;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    @include gradient-clip;
    height: 340px;
    .question-news {
      margin-top: 64px;
      font-family: $second-font;
      font-size: 36px;
      line-height: 42px;
      color: #fff;
      width: 288px;
      height: 126px;
      text-align: center;
    }
    .listen-episodes {
      @include buttonStyle;
      margin: 0 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 35px;
    .introduction {
      margin-left: 80px;
      .brief-introduction {
        width: 80vh;
      }
    }
    .episode-container {
      margin-top: 30;
      .episode {
        height: 800px;
        .section-title {
          margin-left: 80px;
        }
        .spotify {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          iframe {
            margin-bottom: 40px;
          }
        }
      }
    }
    .phone-history {
      padding-left: 50px;
    }
    .article-read {
      position: relative;
      top: -545px;
      left: 400px;
    }
    .characters {
      top: -450px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      & img:nth-child(2) {
        margin: 0;
      }
      h1 {
        padding-left: 100px;
        width: 100vw;
      }
      .characters-image {
        width: 383.9px;
      }
    }
    .topics {
      top: -450px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 25;
      .container-image {
        margin-top: 30px;
        & .container-image:nth-child(2),
        .container-image:nth-child(3),
        .container-image:nth-child(4),
        .container-image:nth-child(5) {
          margin-top: 0;
        }
      }
      h1 {
        width: 100vw;
        padding-left: 40px;
      }
    }
    .lastest-news {
      top: -400px;
      .question-news {
        width: 100vw;
        padding-top: 40px;
      }
    }
  }
}
