main {
  margin-top: 29px;
  h1 {
    font-family: $second-font;
    color: $primary-color;
    line-height: 42px;
    font-size: 36px;
    span {
      text-decoration: line-through;
    }
  }
  .introduction {
    margin-left: 16px;
    margin-right: 16px;
    .brief-introduction {
      margin-top: 16px;
      line-height: 22px;
      font-family: $first-font;
      color: $primary-color;
      font-size: 14px;
    }
    .more {
      margin-top: 36px;
      width: 288px;
      height: 48px;
      font-family: $first-font;
      background: $second-color;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-color;
      font-weight: bold;
    }
  }
  .episode-container {
    margin-top: 24px;
    .episode {
      border: 1px solid $third-color;
      display: block;
      clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
      background: $third-color;
      .section-title {
        color: white;
        font-family: $second-font;
        font-size: 36px;
        margin-top: 64px;
        line-height: 42px;
        padding-left: 16px;
      }
      .spotify {
        margin-top: 21px;
        margin-left: 11px;
        margin-right: 11px;
        iframe {
          width: 298px;
          height: 225px;
          margin-bottom: 11px;
        }
      }
    }
  }
}
