@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
}

header {
  width: 100vw;
  height: 44px;
}

header nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .logo {
  width: 24px;
  height: 24px;
  margin: 10px 16px;
}

header #check {
  opacity: 0;
}

header #check:checked ~ .menu-container {
  display: block;
}

header #check:checked ~ label :nth-child(3) {
  display: none;
}

header #check:checked ~ label :nth-child(1) {
  -webkit-transform: rotate(40deg) translate(3px, 1px);
          transform: rotate(40deg) translate(3px, 1px);
}

header #check:checked ~ label :nth-child(2) {
  -webkit-transform: rotate(-40deg) translate(3px, -1px);
          transform: rotate(-40deg) translate(3px, -1px);
}

header label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px 19px;
}

header label .menu-line {
  background: #060a24;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
}

header .menu-container {
  width: 100vw;
  display: none;
  position: relative;
  z-index: 1;
}

header .menu-container .menu-box {
  font-size: 1rem;
  background: #0000ec;
  list-style: none;
  padding-top: 24px;
}

header .menu-container .menu-box:nth-last-child(1) {
  padding-bottom: 24px;
}

header .menu-container .menu-box a {
  text-decoration: none;
  font-family: "IBM Plex Mono", serif;
  color: #fff;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
  header nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header nav label {
    display: none;
  }
  header .logo {
    width: 36px;
    height: 36px;
    margin: 22px 40px;
  }
  header .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50vw;
    position: unset;
    z-index: unset;
    margin: 26px 40px 26px 0;
  }
  header .menu-container .menu-box {
    background: unset;
    padding: unset;
  }
  header .menu-container .menu-box a {
    color: #060a24;
    font-size: 1rem;
    line-height: 28px;
    font-family: "IBM Plex Mono", serif;
    padding: unset;
  }
}

main {
  margin-top: 29px;
}

main h1 {
  font-family: "IBM Plex Sans", serif;
  color: #060a24;
  line-height: 42px;
  font-size: 36px;
}

main h1 span {
  text-decoration: line-through;
}

main .introduction {
  margin: 0 16px;
}

main .introduction .brief-introduction {
  margin-top: 16px;
  line-height: 22px;
  font-family: "IBM Plex Mono", serif;
  color: #060a24;
  font-size: 14px;
}

main .introduction .more {
  margin-top: 36px;
  width: 288px;
  height: 48px;
  font-family: "IBM Plex Mono", serif;
  background: #00f3bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #060a24;
  font-weight: bold;
}

main .introduction .more:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

main .episode-container {
  margin-top: 24px;
}

main .episode-container .episode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  height: 1203.5px;
}

main .episode-container .episode .section-title {
  color: #fff;
  font-family: "IBM Plex Sans", serif;
  font-size: 36px;
  margin-top: 64px;
  line-height: 42px;
  padding-left: 16px;
}

main .episode-container .episode .spotify {
  margin: 21px 11px 0;
}

main .episode-container .episode .spotify iframe {
  border: 0;
  width: 298px;
  height: 232px;
}

main .phone-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -100px;
}

main .phone-history #phone {
  width: 360px;
  height: 519px;
}

main .article-read {
  position: relative;
  top: -100px;
  margin: 27px 16px 0;
  width: 288px;
  height: 338;
}

main .article-read h1 {
  color: #060a24;
  font-size: 36px;
  line-height: 42px;
  font-family: "IBM Plex Sans", serif;
}

main .article-read p {
  font-size: 14px;
  font-family: "IBM Plex Mono", serif;
  line-height: 22px;
  margin: 8px 0 14px;
}

main .characters {
  position: relative;
  top: -100px;
  margin-top: 54px;
}

main .characters img:nth-child(2) {
  margin-top: 14px;
}

main .characters h1 {
  margin: 0 16px;
  width: 288px;
  height: 84px;
  font-size: 36px;
  line-height: 42px;
  font-family: "IBM Plex Sans", serif;
  color: #060a24;
}

main .characters .characters-image {
  display: block;
  width: 320px;
  height: 243px;
}

main .topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  top: -100px;
  margin-top: 48px;
}

main .topics .container-image:nth-child(2) {
  margin-top: 24px;
}

main .topics .container-image:nth-child(4) {
  margin-top: 36px;
}

main .topics .container-image:nth-child(6),
main .topics .container-image:nth-child(8) {
  margin-top: 52px;
}

main .topics h1 {
  font-size: 36px;
  line-height: 42px;
  font-family: "IBM Plex Sans", serif;
  color: #060a24;
  margin: 0 16px;
  text-align: left;
}

main .topics .container-image {
  width: 320px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .topics .container-image img {
  padding: 13px 0;
  width: 104px;
  height: 104px;
}

main .topics h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 0 16px;
  color: #060a24;
  font-family: "IBM Plex Sans", serif;
  font-weight: bold;
}

main .lastest-news {
  position: relative;
  margin-top: 42px;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  height: 340px;
}

main .lastest-news .question-news {
  margin-top: 64px;
  font-family: "IBM Plex Sans", serif;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  width: 288px;
  height: 126px;
  text-align: center;
}

main .lastest-news .listen-episodes {
  margin-top: 36px;
  width: 288px;
  height: 48px;
  font-family: "IBM Plex Mono", serif;
  background: #00f3bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #060a24;
  font-weight: bold;
  margin: 0 16px;
}

main .lastest-news .listen-episodes:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 35px;
  }
  main .introduction {
    margin-left: 80px;
  }
  main .introduction .brief-introduction {
    width: 80vh;
  }
  main .section-title {
    margin-left: 80px;
  }
}

footer {
  position: relative;
  top: -100px;
  font-size: 14px;
  font-family: "IBM Plex Mono", serif;
  margin-top: 24px;
  text-align: center;
}

footer .social-media-icons {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=styles.css.map */