@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100vw;
  height: 44px;
}

header nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .logo {
  width: 24px;
  height: 24px;
  margin: 10px 16px;
}

header #check {
  opacity: 0;
}

header #check:checked ~ .menu-container {
  display: block;
}

header #check:checked ~ label :nth-child(3) {
  display: none;
}

header #check:checked ~ label :nth-child(1) {
  -webkit-transform: rotate(40deg) translate(3px, 1px);
          transform: rotate(40deg) translate(3px, 1px);
}

header #check:checked ~ label :nth-child(2) {
  -webkit-transform: rotate(-40deg) translate(3px, -1px);
          transform: rotate(-40deg) translate(3px, -1px);
}

header label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px 19px;
}

header label .menu-line {
  background: #060a24;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
}

header .menu-container {
  width: 100vw;
  display: none;
  position: relative;
  z-index: 1;
}

header .menu-container .menu-box {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: 300;
  background: #0000ec;
  list-style: none;
  padding-top: 24px;
}

header .menu-container .menu-box:nth-last-child(1) {
  padding-bottom: 24px;
}

header .menu-container .menu-box a {
  text-decoration: none;
  color: #fff;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
  header nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header nav label {
    display: none;
  }
  header .logo {
    width: 36px;
    height: 36px;
    margin: 22px 40px;
  }
  header #check {
    opacity: 0;
  }
  header #check:checked ~ .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50vw;
    position: unset;
    z-index: unset;
    margin: 26px 40px 26px 0;
  }
  header .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50vw;
    position: unset;
    z-index: unset;
    margin: 26px 40px 26px 0;
  }
  header .menu-container .menu-box {
    background: unset;
    padding: unset;
  }
  header .menu-container .menu-box a {
    color: #060a24;
    font-size: 1rem;
    line-height: 28px;
    font-family: "IBM Plex Mono", monospace;
    padding: unset;
  }
  header .menu-container .menu-box a:hover {
    text-decoration: line-through;
    color: #00f3bb;
  }
  header .menu-container .menu-box a:active {
    color: rgba(6, 10, 36, 0.56);
  }
}

@media screen and (min-width: 1440px) {
  header nav .menu-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

main {
  margin-top: 29px;
}

main .introduction {
  margin: 0 16px;
}

main .introduction h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #060a24;
  line-height: 42px;
}

main .introduction h1 #line {
  text-decoration: line-through;
}

main .introduction .brief-introduction {
  margin-top: 16px;
  line-height: 22px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  color: #060a24;
}

main .introduction .brief-introduction #shifter-text::after {
  content: "Un Podcast que explora el mundo de la programación. Nuevos episodios, todos los jueves cada 15 días.";
}

main .introduction .more {
  margin-top: 36px;
  width: 288px;
  height: 48px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
  background: #00f3bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #060a24;
}

main .introduction .more:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

main .episode-container {
  margin-top: 24px;
}

main .episode-container .episode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  width: 100vw;
  padding-bottom: 150px;
}

main .episode-container .episode .section-title {
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-top: 64px;
  line-height: 42px;
  padding-left: 16px;
}

main .episode-container .episode .spotify {
  margin: 21px 11px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .episode-container .episode .spotify iframe {
  margin-bottom: 11px;
  margin-left: 11px;
  border: 0;
  width: 298px;
  height: 232px;
}

.phone-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -100px;
}

.phone-history #phone {
  width: 360px;
  height: 519px;
}

.article-read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  margin: 27px 16px 0;
}

.article-read h2 {
  color: #060a24;
  line-height: 42px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  width: 288px;
}

.article-read p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 8px 0 14px;
  width: 288px;
  color: #060a24;
}

.characters {
  position: relative;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 54px;
}

.characters h2 {
  margin: 0 16px;
  width: 288px;
  height: 84px;
  line-height: 42px;
  color: #060a24;
  margin-bottom: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.characters .characters-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.characters .characters-image img {
  display: block;
  width: 100vw;
  height: 42.28vh;
}

.topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -100px;
  margin-top: 48px;
}

.topics h2 {
  line-height: 42px;
  color: #060a24;
  margin: 0 16px;
  text-align: left;
  width: 288px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.topics .container-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topics .container-image .group-image:nth-child(1) {
  margin-top: 24px;
  height: 162px;
}

.topics .container-image .group-image:nth-child(2) {
  margin-top: 36px;
  height: 194px;
}

.topics .container-image .group-image:nth-child(3),
.topics .container-image .group-image:nth-child(4) {
  height: 162px;
  margin-top: 52px;
}

.topics .container-image .group-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topics .container-image .group-image img {
  width: 104px;
  height: 104px;
}

.topics .container-image .group-image h3 {
  line-height: 32px;
  padding: 13px 16px 0;
  color: #060a24;
  text-align: center;
  width: 288px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.lastest-news {
  position: relative;
  margin-top: 42px;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  height: 340px;
}

.lastest-news .question-news {
  margin-top: 64px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: #fff;
  width: 288px;
  height: 126px;
  text-align: center;
}

.lastest-news .listen-episodes {
  margin-top: 36px;
  width: 288px;
  height: 48px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
  background: #00f3bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #060a24;
  margin: 36px 16px;
}

.lastest-news .listen-episodes:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

@media screen and (min-width: 550px) {
  main .topics .container-image .group-image:nth-child(1) {
    margin-top: 24px;
    height: 162px;
  }
  main .topics .container-image .group-image:nth-child(2) {
    margin-top: 24px;
    height: 194px;
  }
  main .topics .container-image .group-image:nth-child(3),
  main .topics .container-image .group-image:nth-child(4) {
    margin-top: 24px;
    height: 162px;
  }
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 35px;
  }
  main .introduction {
    padding-left: 80px;
  }
  main .introduction .main-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .introduction .main-title #second-title {
    padding-left: 10px;
  }
  main .introduction #dot {
    color: #0000ec;
  }
  main .introduction .brief-introduction {
    width: 70vw;
  }
  main .introduction .brief-introduction #shifter-text::after {
    content: "El portal de podcasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todo los jueves cada 15 días.";
  }
  main .introduction .more {
    width: 226px;
    height: 56px;
  }
  main .episode-container {
    margin-top: 30px;
  }
  main .episode-container .episode {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
  main .episode-container .episode .section-title {
    padding-left: 80px;
    padding-top: 80px;
  }
  main .episode-container .episode .spotify {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main .episode-container .episode .spotify iframe {
    margin-left: unset;
    margin-bottom: 40px;
  }
  main .phone-history {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -120px;
  }
  main .article-read {
    top: 10px;
    padding-top: 30px;
  }
  main .characters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .characters img:nth-child(2) {
    margin: 0;
  }
  main .characters h2 {
    padding-left: 50px;
    width: 100vw;
  }
  main .characters .characters-image {
    width: 100vw;
  }
  main .characters .characters-image img {
    width: 384px;
    height: 307px;
  }
  main .topics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 25px;
  }
  main .topics .container-image {
    margin-top: 30px;
  }
  main .topics .container-image .container-image:nth-child(2),
  main .topics .container-image .container-image:nth-child(3),
  main .topics .container-image .container-image:nth-child(4),
  main .topics .container-image .container-image:nth-child(5) {
    margin-top: 0;
  }
  main .topics h2 {
    width: 100vh;
    padding-left: 35px;
  }
  main .lastest-news {
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
  }
  main .lastest-news .question-news {
    width: 100vw;
    padding-top: 75px;
  }
  main .lastest-news .listen-episodes {
    margin-top: 20px;
  }
}

@media screen and (min-width: 945px) {
  main .introduction .brief-introduction {
    width: 65vw;
    font-size: 1rem;
  }
  main .introduction .more {
    font-size: 18px;
  }
  main .episode-container .episode .spotify iframe {
    width: 45vw;
  }
  main .characters .characters-image img {
    width: 33.33vw;
    height: 40vh;
  }
  main .topics .container-image {
    width: 100vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .topics .container-image .group-image {
    width: 23vw;
  }
  main .topics .container-image .group-image h3 {
    width: 250px;
  }
}

@media screen and (min-width: 1440px) {
  main .introduction {
    padding-left: 200px;
  }
  main .introduction .brief-introduction {
    width: 42vw;
  }
  main .introduction h1 {
    font-size: 64px;
    line-height: 84px;
  }
  main .introduction .brief-introduction {
    font-size: 16px;
    line-height: 24px;
  }
  main .introduction .more {
    width: 226px;
    height: 56px;
  }
  main .episode-container .episode {
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
            clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    padding-bottom: 140px;
  }
  main .episode-container .episode .section-title {
    padding-left: 200px;
    padding-top: 140px;
    font-size: 48px;
    line-height: 62px;
  }
  main .episode-container .episode .spotify {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  main .episode-container .episode .spotify iframe {
    width: 38.05vw;
    margin-bottom: 72px;
  }
  main .phone-history {
    top: -150px;
  }
  main .phone-history #phone {
    width: 457.6px;
    height: 660px;
  }
  main .phone-history .article-read {
    margin-top: 20.4px;
    width: 464px;
    height: 266px;
    position: relative;
    top: -45px;
    margin-left: 100px;
    text-align: left;
  }
  main .phone-history .article-read h2 {
    font-size: 48px;
    width: 399px;
    height: 62px;
    width: 470px;
  }
  main .phone-history .article-read p {
    font-size: 16px;
    line-height: 24px;
    width: 464px;
    margin-top: 24px;
  }
  main .characters h2 {
    font-size: 48px;
    line-height: 62px;
    padding-left: 200px;
  }
  main .characters .characters-image img {
    width: 480px;
    height: 364px;
  }
  main .topics h2 {
    padding-left: 200px;
    width: 100vw;
    font-size: 48px;
    line-height: 62px;
    margin-top: 64px;
  }
  main .topics .container-image .group-image {
    width: 260px;
  }
  main .lastest-news {
    -webkit-clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
    height: 400px;
  }
  main .lastest-news .question-news {
    width: 692px;
    font-size: 48px;
    line-height: 62px;
  }
  main .lastest-news .listen-episodes {
    height: 56px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 36px;
  }
}

footer {
  position: relative;
  top: -100px;
  width: 100vw;
  margin-top: 24px;
}

footer span {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  color: #060a24;
  text-align: center;
  line-height: 22px;
  margin: 0 46px;
}

footer .social-media-icons {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .social-media-icons a {
  color: #000;
}

@media screen and (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer span {
    font-size: 1rem;
  }
  footer .social-media-icons {
    width: 40vw;
    margin-top: unset;
    padding-top: 5px;
    padding-right: 40px;
  }
  footer .social-media-icons i {
    width: 18px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  footer {
    line-height: 28px;
    margin-top: 36px;
    margin-bottom: 31px;
  }
  footer .social-media-icons {
    padding-left: 100px;
  }
}
/*# sourceMappingURL=styles.css.map */